.threadsContainer {
    width: 550px;
    position: relative;
}

.threadsMain {
    width: 50vw;
    padding: 10px 15px 0 15px;
    margin: 25px 0;
    border: 1px solid #e3e3e3;
    background-color: var(--bg-light);
    border-radius: 3px;
    position: fixed;
    height: 90vh;
    overflow-y: scroll;
    margin-bottom: 0;

}

.threadsMain p {
    text-align: center;
    margin: 0;
    padding: 5px 0;
}

.threadsMain h3 {
    padding: 0;
    margin: 0;
    font-weight: 500;
}

.mainForm form {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.mainForm form textarea {
    width: 100%;
    height: 60px;
    outline: none;
    border: 1px solid #e3e3e3;
    font-size: 1.5rem;
    height: auto;
}

.mainForm form button {
    width: 10%;
}

.mainFormBtns {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.mainFormBtns button {
    width: 100%;
    margin-top: 10px;
    padding: 5px;
    border: none;
    border-right: 1px solid #9c9c9c;
    height: 45px;
}

.mainFormBtns button:last-child {
    border: none;
}

.topForm button {
    width: 100%;
    margin: 5px 0;
    padding: 5px;
    height: 45px;
}

.btnAccent {
    background: var(--accent-blue) !important;
    color: var(--bg-light);
    border: none;
    font-size: 1.2rem;
    border-radius: 5px;
}

.threadsOptions {
    display: none;
}

.threadslMessage {
    position: relative;
    margin: 10px 0;
    width: 80%;
    border: 1px solid #9c9c9c;
    padding: 10px;
    border-radius: 3px;
    background-color: #e3e3e3;
}

.threadsrMessage {
    margin-left: 20% !important;
    right: 0;
    margin: 10px 0;
    width: 80%;
    border: 1px solid var(--accent-blue);
    padding: 10px;
    border-radius: 3px;
    background-color: #98bad3;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}

.msgInfoTop {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.proImageContainer {
    width: 35px;
    height: 35px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 50%;
}

.proImageContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.msgInfoTop p {
    margin: 0;
    margin-left: 5px;
    color: #9c9c9c;
}

.msg p {
    margin: 0;
    padding: 0;
    margin-left: 40px;
}

.msgInfoFooter p {
    margin: 5px 0 0 0;
    color: #9c9c9c;
    font-size: .8rem;
}

.threadsrMessage .msgInfoTop p,
.threadsrMessage .msgInfoFooter p {
    color: #4a4a4a;
}

.threadsrMessage .msg p {
    margin-left: 0;
    margin-right: 40px;
    text-align: right;
}

.msgForm {
    margin-left: 25px;
    margin-bottom: 25px;
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.msgForm form input {
    padding: 5px;
    width: 440px;
    height: 40px;
    border: 1px solid var(--accent-blue);
    outline: none;
    font-size: 1rem;
}

.msgForm form button {
    padding: 5px;
    width: 110px;
    height: 40px;
    border: none;
    background-color: var(--accent-blue);
    color: var(--bg-light);
    font-size: 1rem;
}



.Posts {
    margin: 25px 0;
}

.titleLinks {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.profileInfo {
    display: flex;
    flex-direction: row;
}

.head {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.postsTitleTxt p {
    margin-left: 10px;
}

.votes {
    margin-right: 25px;
}

.votes img {
    cursor: pointer;
}